[submodule ".registry"]
	path = .registry
	url = https://github.com/r-universe-org/cran-to-git
	branch = HEAD
[submodule "RandomGaussianNB"]
	path = RandomGaussianNB
	url = https://github.com/cran/RandomGaussianNB
